.html {
	font-family: "Varela Round", sans-serif;
}
.application {
	font-family: Poppins !important;
}
span {
	font-family: Poppins !important;
}

.v-btn {
	text-transform: none !important;
}

flex {
	margin: 0;
	padding: 0;
}

.hidebreak {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis !important;
}

.screen-size {
	max-width: 720px;
	margin: auto;
}

.dialog-bottom {
	position: absolute;
	bottom: 0;
	margin: auto;
	max-width: 720px;
}

.img {
	max-width: 100%;
	height: auto;
	margin: auto;
}

.layout {
	margin: 0 !important;
}

.my-btn {
	min-width: 0;
	width: 32px;
}

.background {
	/*background-image: url("https://previews.123rf.com/images/speedphoto/speedphoto1410/speedphoto141000630/32729456-crumpled-paper-background.jpg");*/
	/*background-image: url("https://image.freepik.com/free-photo/paperboard-texture_95678-72.jpg");*/
	/*background-image: url("../assets/Fundo.svg"), url("https://image.freepik.com/free-photo/paperboard-texture_95678-72.jpg");*/
	background-blend-mode: multiply;
	background-size: auto;
	background-repeat: repeat;
}

.v-progress-linear {
	border-radius: 7px !important;
}

.battle-background {
	background-image: url("https://s3.amazonaws.com/jovensgenios.com/apps-images/backgrounds/fundo_da_batalha_4.png") !important;
	background-position: center !important;
	background-size: cover !important;
	background-color: rgba(0, 0, 0, 0.8);
	max-width: 720px;
}

.my-headline {
	font-size: 24px;
	font-weight: bold;
	color: #404040;
}

.my-sub-headline {
	font-size: 1em;
	font-weight: bold;
	color: #004d40;
}

.elevated-button {
	-webkit-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 6px 0px #cccccc, 6px 13px 5px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.elevated-button:active {
	/*background-image: linear-gradient(bottom, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 100%);*/
	/*background-image: -o-linear-gradient(bottom, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 100%);*/
	/*background-image: -moz-linear-gradient(bottom, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 100%);*/
	/*background-image: -webkit-linear-gradient(bottom, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 100%);*/
	/*background-image: -ms-linear-gradient(bottom, rgb(256, 256, 256) 0%, rgb(256, 256, 256) 100%);*/

	/*background-image: -webkit-gradient(*/
	/*        linear,*/
	/*        left bottom,*/
	/*        left top,*/
	/*        color-stop(0, rgb(256, 256, 256)),*/
	/*        color-stop(1, rgb(256, 256, 256))*/
	/*);*/

	-webkit-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);

	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.elevated-button-solo {
	-webkit-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 6px 0px #cccccc, 6px 13px 5px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.elevated-button-solo:active {
	background-image: linear-gradient(bottom, #259085 0%, #259085 100%);
	background-image: -o-linear-gradient(bottom, #259085 0%, #259085 100%);
	background-image: -moz-linear-gradient(bottom, #259085 0%, #259085 100%);
	background-image: -webkit-linear-gradient(bottom, #259085 0%, #259085 100%);
	background-image: -ms-linear-gradient(bottom, #259085 0%, #259085 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #259085),
		color-stop(1, #259085)
	);

	-webkit-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);

	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.elevated-button-vs {
	-webkit-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 6px 0px #cccccc, 6px 3px 15px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 6px 0px #cccccc, 6px 13px 5px rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.elevated-button-vs:active {
	background-image: linear-gradient(bottom, #f9ac30 0%, #f9ac30 100%);
	background-image: -o-linear-gradient(bottom, #f9ac30 0%, #f9ac30 100%);
	background-image: -moz-linear-gradient(bottom, #f9ac30 0%, #f9ac30 100%);
	background-image: -webkit-linear-gradient(bottom, #f9ac30 0%, #f9ac30 100%);
	background-image: -ms-linear-gradient(bottom, #f9ac30 0%, #f9ac30 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #f9ac30),
		color-stop(1, #f9ac30)
	);

	-webkit-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 2px 0px #aaaaaa, 0px 1px 6px rgba(0, 0, 0, 0.4),
		inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);

	-webkit-transform: translate(0, 4px);
	-moz-transform: translate(0, 4px);
	transform: translate(0, 4px);
}

.background-battle-friends {
	/*background: url("http://i0.wp.com/shoryuken.com/wp-content/uploads/2017/01/rektscrub-daigo-vs-tokido-thumb.jpg?fit=750%2C400&resize=750%2C400");*/
	background-color: #f9ac30;
	/*background: linear-gradient(110deg, #F9AC30 60%, #259085 60%);*/
	background-position: center;
	background-size: cover;
	position: fixed;
	height: 100%;
	/*filter: blur(3px);*/
	max-width: 720px;
}

.centralize {
	margin: auto !important;
	left: 50% !important;
	transform: translateX(-50%) !important;
}
.centralize-Y {
	margin: auto;
	top: 50%;
}

.background-battle-solo {
	/*background: url("https://streetfighter.com/wp-content/uploads/2015/04/featured-homepage-smoke.jpg");*/
	background-color: #259085;
	/*background: linear-gradient(70deg, #259085 40%, #F9AC30 40%);*/
	background-position: center;
	background-size: cover;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	/*filter: blur(3px);*/
	max-width: 720px;
}
